body {
	font-family: raleway;
}

.rest {
	display: flex;
	flex: row;
	margin-left: 500px;
}

.rt {
	margin-right: 30px;
}

nav {
	display: flex;
	flex: row;
	margin-top: 20px;
}

.rt {
	color: #6b696e;
}

.b1 {
	margin-top: 20px
	width: 150px;
	height: 40px;
	font-size: 13px;
	/*color: white;*/
	background-color: #fff;
	margin-bottom: -20px;
}

#b1one {
	height: 40px;
	margin-top: -10px;
	width: 150px;
	font-size: 13px;
	background-color: white;
}

.logo1 {
	margin-left: 130px;
}

.h1one {
	font-size: 50px;
	color: white;
}

.hr1 {
	width: 125px;
	margin-top: 50px;
	margin-left: 1px;
}

.play {
	margin-top: 90px;
	margin-left: 100px;
	height: 600px;
}

.geta {
	color: #6b696e;
}

.b2 {
	margin-top: 40px;
	width: 200px;
	height: 40px;
	font-size: 20px;
	color: white;
	background-color: #0c0921;
}

.top-area {
	display: flex;
	flex: row;
	background-color: #0c0921;
	color: white;
	height: 560px;
	background-image: url('images/bg-pattern-intro-right-desktop.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.left-ta {
	margin-left: 130px;
}

.mid-ish {
	display: flex;
	flex: row;
	margin-left: 130px;
}

.f1, .f2, .f3 {
	margin-right: 73px;
}

.h1two {
	font-size: 50px;
	margin-left: 130px;
} 

.hr2 {
	margin-left: 130px;
	width: 130px;
}

.almost {
	display: flex;
	flex: row;
	background-color: #0c0921;
	margin-left: 130px;
	margin-right: 130px;
	height: 200px;
	background-image: url('images/bg-pattern-how-we-work-desktop.svg');
	background-position: center;
	background-size: cover;
}

.h2one {
	font-size: 40px;
	color: white;
	margin-left: 70px;
	margin-top: 50px;
}

.b3 {
	margin-left: 280px;
	margin-top: 80px;
	width: 200px;
	height: 40px;
	font-size: 20px;
	color: white;
	background-color: #0c0921;
}

.t-end {
	display: flex;
	flex: row;
}

.logo2 {
	margin-left: 130px;
	margin-right: 850px;
}

.hr3 {
	margin-left: 130px;
	margin-right: 130px;
}

.b-end {
	display: flex;
	flex: row;
	margin-left: 130px;
}

.bottom1, .bottom2, .bottom3, .bottom4 {
	margin-right: 160px;
}

.l1, .l2, .l3, .l4 {
	margin-bottom: 20px;
}

#top {
	font-size: 20px;
	color: #6b696e;
	margin-top: 20px;
	margin-bottom: 30px;
}

.others {
	background-image: url('images/bg-pattern-footer-desktop.svg');
}